.measures{
    height: 100%;
    width: 100%;
}

.measure {
    display: flex;
    align-items: center;
    padding: 0px .4rem;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
    height: 45px;
    scroll-snap-align: center;

}

.measure:hover{
    background-color: #f5f5f5;
}

.measure .image {
    flex: 1 1 45px;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.measure .image > img{
    width: 100%;
    cursor: pointer;
    image-rendering: -webkit-optimize-contrast;
}

.measure .name{
    flex: 1 1 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 1rem;
    
}

.collapse {
    max-height: 250px!important;
    bottom: 0;
    position: absolute;
    transition: all 0.3s;
    border: 1px solid #777;
    overflow-y: scroll!important;
    
}


.collapse::-webkit-scrollbar {
    width: 6px;
    background-color: #ebebeb;
}

.collapse::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #0b1361;
}

.container {
    background-color: white;
    max-height: 45px;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    transition: max-height 0.3s;
    width: 100%;
    scroll-snap-type: y mandatory;

}

.remove {
    width: 16px;
    height: 16px;
    color: #0b1361;
}

.remove svg , .edit svg{
    width: 16px;
    height: 16px;
}

.remove svg:hover , .edit svg:hover{
    color: #38429c;
}

.edit {
    width: 16px;
    height: 16px;
    color: #0b1361;
}

.actions {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.modal_editor {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content{
    background-color: white;
    width: 80%;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}

.modal_header .modal_title {
    font-size: 1.2rem;
    font-weight: bold;
}

.modal_body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.modal_body .input {
    width: 100%;
    border: 1px solid #0b1361;
    font-size: 1.2rem;
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.modal_body .input:first-child::before{
    content: "Medida";
    padding: .5rem;
    background-color: #0b1361;
    color: white;
    
}

/* .modal_body .input:last-child::after{
    content: "Unidad/es";
    padding: .5rem;
    background-color: #0b1361;
    color: white;
    
} */

.input:last-child input {
    text-align: right;
    padding-right: 1rem;
}

.modal_actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.modal_actions button {
    padding: .5rem;
    border: 3px double #707070;
    background: white;
    cursor: pointer;
}

.modal_actions button:hover{
    border: 3px double #0b1361;
}

.add_measure {
    width: 100%;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.4rem;
    box-sizing: border-box;
    cursor: pointer;
}

.add_measure:hover{
    background-color: #f5f5f5;
}

.add_measure svg {
    width: 16px;
    height: 16px;
    color: #0b1361;
}

.add_measure button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.add_measure button:hover svg{
    color: #38429c;
}