.modal{
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    height: 100vh;
}

.modal .backdrop{
    content: '';
    left: 0;
    top: 0;
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.modal .modal_content{
    background: white;
    padding: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 90%;
    box-sizing: border-box;
}

.tags {
    display: flex;
    flex-direction: column;
    max-height: 280px;
    overflow: auto;
}

.tag {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.tag:hover{
    border: 1px solid #0b1361;

}

.modal_footer{
    display: flex;
    justify-content: flex-end;
}

.button {
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    color: #888;
    border: 3px #888 double;
    text-align: center;
}

.button:hover{
    border: 3px double #0b1361;
    color: #0b1361;
}
.error {
    background: #d47575;
    color: rgb(151, 65, 65);
    border: 3px double #d47575;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    
}

.error:hover{
    border: 3px double #d47575;
    background-color: white;

}

.errors {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.tags::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background: #f1f1f1;
}

.tags::-webkit-scrollbar-thumb{
    background-color: #0b1361;
}

.tags::-webkit-scrollbar-thumb:hover{
    background-color: #151e72;
}

.filter{
    display: flex;
    gap: 10px;
}

.input{
    border: 1px solid #ccc;
    padding: 10px;
    outline: none;
    width: 100%;
}

.action {
    background: #0b1361;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.action:hover {
    background: #151e72;
}

.modal_body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 90%;
}