.main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.product{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    border:1px solid #0b1361;
}

.content > * {
    display: flex;
    flex: 1 1 auto;
    height: max-content;
    flex-direction: row;
    border-bottom:1px solid #0b1361;
}

.category {
    padding: 2px 4px;
    background: #0b1361;
    color: white;
    display: inline-flex;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
    gap: 4px;
}

.category *:last-child{
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
}

.category:hover *:last-child{
    opacity: 1;
    pointer-events: all;
    transition: all 0.1s;
}

.product > .image {
    flex: 1 1 480px;
    border: 1px solid #0b1361;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.image > img {
    width: 90%;
}


.product > .content {
    flex: 1 1 100%;
}

.col_1{
    background: #0b1361;
    color: white;
    white-space: nowrap;
    padding: 13px;
}

.col_2 {
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex: 1 1 100%;
}

.categories {
    flex: 1 1 350px;
    order: 3;
}

.price{
    flex: 1 1 200px;
    order: 4;
}

.sale{
    flex: 1 1 50%;
    order: 5;
}

.stock {
    flex: 1 1 50%;
    order: 6;
}

.sku{
    flex: 1 1 30%;
    order: 1;
}

.title{
    flex: 1 1 70%;
    order: 0;
}

.description{
    order: 2;
}

.variations{
    order: 8;
}

.measures{
    order: 7;
}

.measures, .variations, .description {
    flex: 1 1 100%;
}

.description {
    min-height: 80px;
}

.variations {
    border-bottom: none;
}

.bill input, .stock_quantity input {
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1rem;
}

.bill, .stock_quantity{
    width: 100%;
    display: flex;
    height: 100%;
}

.bill::after{
    content: "COP";
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    color: #0b1361;
    font-weight: 500;
    right: -10px;
    position: absolute;
    padding: 0 5px;
}

.stock_quantity::after{
    content: "Unidades";
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    color: #0b1361;
    font-weight: 500;
    right: -10px;
    position: absolute;
    padding: 0 5px;
}

.col_2 textarea, .col_2 input {
    outline: none;
    border: none;
    resize: none;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.add{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0b1361;
    width: 16px;
    height: 16px;
    opacity: 0;
    image-rendering: -webkit-optimize-contrast;
    transition: all 0.1s;
    cursor: pointer;
}

.categories .col_2{
    justify-content: space-between;
}

.categories .col_2:hover .add{
    opacity: 1;
    transition: all .1s;
}

.tags{
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 40px;
}

.tags::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 950px) {

    .main {
        padding: 2rem 0;
    }

    .product {
        max-width: 90%;
        flex-direction: column;
    }

    .col_2{
        min-height: 45px;
    }

    .image {
        flex: 1 1 250px!important;
    }

    .image > img {
        max-width: 250px;
    }

    .title{
        flex: 1 1 100%;
        order: 1;
    }

    .sku{
        flex: 1 1 100%;
        order: 0;
    }

}

.actions {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
}

.actions .save {
    background: #0b1361;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: all 0.1s;
}

.actions .save:hover{
    background: #1e2885;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: all 0.1s;
}

.fileReader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.fileReader input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.fileReader:hover .imageHover{
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.fileReader .imageHover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    background: #0b14617a;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}